.total-token {
  //   background-color: red;
  padding-top: 90px;
  //   overflow-x: hidden;
  .container {
    display: flex;
    justify-content: center;
    .token-box {
      background: rgba(17, 17, 17, 0.46);
      border: 4px solid #fcc016;
      border-radius: 11px;
      border: 4px solid #fcc016;
      padding-top: 33px;
      padding-left: 33px;
      padding-right: 33px;
      padding-bottom: 33px;
      width: fit-content;
      .box-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        h1 {
          background-color: black;
          font-family: "Anton";
          font-style: normal;
          font-weight: 400;
          font-size: 48.0832px;
          color: #fcc016;
          text-transform: capitalize;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px 15px;

          &:last-child {
            background-color: #f13a72;
          }
        }
        img {
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          width: 50px;
          height: 50px;
          margin-left: 10px;
        }
      }

      .box-input {
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin-top: 55px;

        .top {
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          ul {
            margin-bottom: -20px;
            li {
              font-family: "Quicksand";
              font-style: normal;
              font-weight: 500;
              font-size: 22.1489px;
              color: #ffffff;
              margin-bottom: 0;
              padding: 0;
              margin-bottom: 20px;

              span {
                font-family: "Quicksand";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: #ffffff;
                margin-bottom: 0;
                padding: 0;
                margin-top: 20px;
                text-align: center;
              }
            }
          }
          input {
            outline: none;
            border: none;
            background: transparent;
            font-family: "Quicksand";
            font-style: normal;
            font-weight: 600;
            font-size: 18.5233px;
            color: #fff;
            border: 2px solid #ffffff;
            border-radius: 3px;
            padding: 3px 10px;
            width: 300px;

            &:active {
              color: #fff;
            }
            &:focus {
              color: #fff;
            }
          }
        }
        .bottom {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          ul {
            margin-bottom: -20px;
            li {
              font-family: "Quicksand";
              font-style: normal;
              font-weight: 500;
              font-size: 22.1489px;
              color: #ffffff;
              margin-bottom: 0;
              padding: 0;
              margin-bottom: 20px;
            }
          }
          .select-stakingTier {
            margin-left: 30px;
            .dropdown-menu-select {
              outline: none;
              border: 1px solid #fff;
              background-color: #1d171d;
              border: 2px solid #FFD462;
              border-radius: 3px;
              padding: 3px 10px;
              width: 300px;
              color: white;
              font-family: "Quicksand";
              font-style: normal;
              font-weight: 600;
              font-size: 18.5233px;
            }
          }
        }

        .token-message {
          h6 {
            font-family: "Quicksand";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: #ffffff;
            margin-bottom: 0;
            padding: 0;
            margin-top: 20px;
            text-align: center;
          }
        }
      }

      .stak-btn {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        button {
          width: 322px;
          background: linear-gradient(90deg, #fcc016 0%, #f9d03f 100%);
          border-radius: 5px;
          font-family: "Ranchers";
          font-style: normal;
          font-weight: 400;
          font-size: 33.44px;
          line-height: 42px;
          color: #ffffff;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
    .unstyled {
      list-style: none;
      display: flex;
      align-items: center;
      margin-top: 70px;
      label {
        font-family: "Quicksand";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 31px;
        color: #ffffff;
        display: flex;
        align-items: center;
        margin-left: 20px;
      }
      .styled-checkbox {
        position: absolute; // take it out of document flow
        opacity: 0; // hide it
        display: flex;
        & + label {
          position: relative;
          cursor: pointer;
          padding: 0;
        }

        // Box.
        & + label:before {
          content: "";
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 30px;
          height: 30px;
          border: 2.83px solid #fffbfb;
          border-radius: 5px;
        }

        // Box hover
        &:hover + label:before {
          background: #f9d03f;
        }

        // Box focus
        &:focus + label:before {
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        // Box checked
        &:checked + label:before {
          background: #f9d03f;
          border: 2px solid #fff;
          border-radius: 5px;
        }

        // Disabled state label.
        &:disabled + label {
          color: #b8b8b8;
          cursor: auto;
        }

        // Disabled box.
        &:disabled + label:before {
          box-shadow: none;
          background: #ddd;
        }

        // Checkmark. Could be replaced with an image
        &:checked + label:after {
          content: "";
          position: absolute;
          left: 10px;
          top: 15px;
          background: white;
          width: 3px;
          height: 3px;
          box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
            4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
          transform: rotate(45deg);
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .total-token {
    padding-top: 55px;
    .container {
      max-width: 840px;
      .token-box {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 10px;
        .box-input {
          width: fit-content;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-top: 55px;
          .top {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: fit-content;
            ul {
              margin-bottom: -20px;
              list-style: none;
              li {
                font-size: 18px;
                margin-bottom: 20px;
              }
            }
            .input-resp {
              margin-top: 10px;
              display: flex;
              justify-content: center;
              input {
                font-size: 18.5233px;
                width: 250px;
              }
            }
          }
          .bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-direction: column;
            margin-top: 30px;
            ul {
              margin-bottom: -20px;
              list-style: none;
              li {
                font-family: "Quicksand";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: #ffffff;
                margin-bottom: 0;
                padding: 0;
                margin-bottom: 20px;
              }
            }
            .select-stakingTier {
              margin-top: 10px;
              margin-left: 0px;

              width: 100%;
              .dropdown {
                display: flex;
                justify-content: center;
                button {
                  background: #ffffff;
                  border-radius: 3px;
                  border: 0;
                  font-family: "Quicksand";
                  font-style: normal;
                  font-weight: 600;
                  font-size: 18.5233px;
                  line-height: 23px;
                  text-align: left;
                  color: #000000;
                  width: 250px;

                  &::after {
                    float: right;
                    margin-top: 10px;
                  }
                }

                .dropdown-menu {
                  //   width: fit-content;
                  width: 100%;
                  li {
                    text-align: left;
                    :hover {
                      background-color: #fcbf16c7;
                    }
                    a {
                      font-family: "Quicksand";
                      font-style: normal;
                      font-weight: 600;
                      font-size: 18.5233px;
                      line-height: 23px;
                      text-align: center;
                      color: #000000;
                      user-select: none;
                      cursor: pointer;
                      text-align: left;
                    }
                  }
                }
              }
            }
          }
        }

        .box-heading {
          h1 {
            background-color: black;
            font-family: "Anton";
            font-style: normal;
            font-weight: 400;
            font-size: 27px;
            color: #fcc016;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 15px;

            &:last-child {
              background-color: #f13a72;
            }
            img {
              height: 30px;
              width: 30px;
            }
          }
        }

        .stak-btn {
          display: flex;
          justify-content: center;
          margin-top: 30px;
          button {
            width: 250px;
            font-size: 33.44px;
            line-height: 42px;
          }
        }
      }

      .unstyled {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        margin-top: 35px;
        label {
          font-family: "Quicksand";
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          line-height: 31px;
          color: #ffffff;
          display: flex;
          align-items: center;
          margin-left: 0px;
        }
      }
    }
  }
}
