.hero-section {
  position: relative;
  overflow-x: hidden;
  .hero-tagline {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 700;
      font-size: 209.441px;
      color: #ffffff;
      text-align: center;

      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #fcc016;
      &:last-child {
        font-family: "Quicksand";
        font-style: normal;
        font-weight: 700;
        font-size: 134.504px;
        letter-spacing: 100px;
        color: #fcc016;
        margin-left: 100px;
      }
    }
  }

  .hero-gif {
    position: absolute;
    top: 0;
  }
}

@media screen and (max-width: 1280px) {
  .hero-section {
    .hero-tagline {
      h1 {
        font-size: 193.441px;

        &:last-child {
          font-size: 114.504px;
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .hero-section {
    .hero-tagline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1 {
        font-size: 163.441px;
        // width: fit-content;
        &:last-child {
          font-size: 79.504px;
          // width: fit-content;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-section {
    overflow: hidden !important;

    h1 {
      font-weight: 700;
      font-size: 60px !important;
      color: #ffffff;
      text-align: center;
      width: 300%;
      &:last-child {
        font-weight: 700;
        font-size: 40px !important;
        letter-spacing: 28px !important;
        margin-left: 30px !important;
        width: unset;
      }
    }
  }
}
