.hero-section {
  position: relative;
  background-color: #000;
  overflow: hidden;

  .coming-time-container {
    // position: relative;
    // height: 20vh;
    overflow: hidden !important;


    .coming-time {
      color: white;
      background-color: #fcc016;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -0%);
      z-index: 999999;
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      padding: 5px 0px;
      // color: #fcc016;


    }
  }



  .hero-tagline {
    padding: 220px 0;
    position: relative;
    z-index: 2;

    h1 {
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 700;
      font-size: 209.441px;
      color: #ffffff;
      text-align: center;
      // -webkit-text-stroke-width: 2px;
      // -webkit-text-stroke-color: #fcc016;

      text-shadow: -3px -3px 0 #fcc016, 3px -3px 0 #fcc016, -3px 3px 0 #fcc016,
        3px 3px 0 #fcc016;

      &:last-child {
        font-family: "Quicksand";
        font-style: normal;
        font-weight: 700;
        font-size: 134.504px;
        letter-spacing: 100px;
        color: #fcc016;
        margin-left: 100px;
        text-shadow: unset;
      }
    }
  }

  .hero-gifs {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

    video {
      width: 100%;
      height: 100%;
    }

    .landing-back {
      display: none;
    }
  }
}

@media screen and (max-width: 1370px) {
  .hero-section {
    .coming-time-container {
      .coming-time {
        font-size: 26px;
        padding: 2px 0px;
      }
    }

    .hero-tagline {
      h1 {
        font-size: 130px;

        &:last-child {
          font-size: 75px;
          letter-spacing: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .hero-section {
    .hero-tagline {
      h1 {
        font-size: 193.441px;

        &:last-child {
          font-size: 114.504px;
          margin-left: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .hero-section {
    .hero-tagline {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 163.441px;

        // width: fit-content;
        &:last-child {
          font-size: 79.504px;
          // width: fit-content;
          margin-left: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-section {
    overflow: hidden !important;
    height: 100vh;

    .coming-time-container {
      .coming-time {
        font-size: 18px;
        padding: 2px 0px;
      }
    }

    .hero-tagline {
      padding: 120px 0;
      position: relative;
      z-index: 2;

      h1 {
        font-weight: 700;
        font-size: 60px !important;
        color: #ffffff;
        text-align: center;
        width: 300%;
        text-shadow: -1px 0 #fcc016, 1px -1px 0 #fcc016, -1px 1px 0 #fcc016,
          1px 1px 0 #fcc016;

        &:last-child {
          font-weight: 700;
          font-size: 40px !important;
          letter-spacing: 28px !important;
          margin-left: 30px !important;
          width: unset;
          text-shadow: unset !important;
        }
      }
    }

    .hero-gifs {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(0%, -50%);
      object-fit: cover;

      video {
        width: 100%;
        height: 100%;
        display: none;
      }

      .landing-back {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 361px) {
  .hero-section {
    overflow: hidden !important;

    .coming-time-container {
      .coming-time {
        font-size: 18px;
        padding: 2px 0px;
      }
    }

    .hero-tagline {
      padding: 120px 0;
      position: relative;
      z-index: 2;

      h1 {
        font-weight: 700;
        font-size: 50px !important;
        color: #ffffff;
        text-align: center;
        width: 300%;
        text-shadow: -1px 0 #fcc016, 1px -1px 0 #fcc016, -1px 1px 0 #fcc016,
          1px 1px 0 #fcc016;

        &:last-child {
          font-weight: 700;
          font-size: 30px !important;
          letter-spacing: 26px !important;
          margin-left: 30px !important;
          width: unset;
          text-shadow: unset !important;
        }
      }
    }
  }
}