.nft-tier {
  .tier-tabContent {
    font-family: "Anton" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    color: #ffffff;
    padding-top: 95px;
    padding-bottom: 69px;
  }
  .section-header {
    margin: 0px auto;
    position: relative;

    width: fit-content;
    padding: 90px 0px;
    h1 {
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 700;
      font-size: 22.1489px;
      text-transform: uppercase;
      color: #121f41;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .staking-tab-detail1 {
    // margin-top: 74px;
    padding-bottom: 90px;
    p {
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      text-align: center;
      color: #ffffff;
    }
  }

  .tier-parentTab {
    border: none;
    display: flex;
    justify-content: center;
    .nav-item {
      position: relative;
      :hover {
        border: none !important;
      }
      p {
        font-family: "Ranchers";
        font-style: normal;
        font-weight: 400;
        font-size: 39.5517px;
        text-align: center;
        color: #ffffff;
        border-radius: 15px;
        line-height: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: capitalize;
        user-select: none;
        cursor: pointer;
      }
      .nav-link {
        border: none !important;
        &.active {
          background-color: transparent;
          border: none;

          .tierback {
            transition: all 0.3s linear;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .tierBackRotate {
    transition: all 0.3s linear;
    transform: rotate(180deg);
  }
  .nftStaking-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 70px;
    justify-content: center;
    .staking-card {
      cursor: pointer;
      position: relative;
      width: fit-content;
      margin: auto auto;
      .card-plate {
        position: absolute;
        top: 16px;
        left: 18px;
        width: 100%;

        .card-gold-plate {
          position: relative;
          width: fit-content;

          .fav {
            position: absolute;
            top: 10px;
            right: 10px;
            background: rgba(52, 52, 68, 0.9);
            border-radius: 4.33358px;
            padding: 0 10px 0 0px;
            p {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 500;
              font-size: 16.40735px;
              line-height: 1;
              text-transform: capitalize;
              color: #ffffff;
            }

            .css-i4bv87-MuiSvgIcon-root {
              fill: white !important;
            }
          }
          .ourNft {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img {
              width: auto;
              max-height: 240px;
            }
          }

          .card-name {
            position: absolute;
            top: 105%;
            left: 0px;
            width: 100%;
            p {
              font-family: "DM Mono";
              font-style: normal;
              font-weight: 500;
              font-size: 14.4453px;
              line-height: 1;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: #ffffff;
              padding: 10px 32px;
              background: rgba(217, 217, 217, 0.21);
              backdrop-filter: blur(2px);
              border-radius: 7px;
              text-align: center;
            }
          }

          .creator-details {
            position: absolute;
            top: 125%;
            display: flex;
            justify-content: space-between;
            width: 100%;
            .left {
              display: flex;
              align-items: center;
              width: 100%;
              .logo-in-card{
                width: 10px;
              }

              .creator-tag {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // background-color: red;
                height: 90%;
                margin-left: 10px;
                p {
                  font-family: "DM Mono";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 10.834px;
                  line-height: 14px;
                  letter-spacing: 0.04em;
                  text-transform: capitalize;
                  color: #817c7c;

                  &:last-child {
                    color: #ffffff;
                  }
                }
              }
              .stake-card {
                width: 100%;
                background: linear-gradient(90deg, #fcc016 0%, #f9d03f 100%);
                border-radius: 3.85093px;
                font-family: "Ranchers";
                font-style: normal;
                font-weight: 400;
                font-size: 15.2784px;
                color: #ffffff;
                text-shadow: 0px 1.82756px 1.82756px rgba(0, 0, 0, 0.25);
                padding: 7px 0;
                text-transform: capitalize;
                border: none;
              }
            }
            .right {
              .price {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                p {
                  font-family: "DM Mono";
                  font-style: normal;
                  font-weight: 500;
                  font-size: 10.834px;
                  letter-spacing: 0.04em;
                  text-transform: capitalize;
                  color: #817c7c;
                  display: flex;
                  align-items: center;
                  &:last-child {
                    color: #fff;
                  }
                  .icon {
                    margin-right: 5px;
                  }
                }
              }
            }
          }
        }
      }

      .nft-claim-reward {
        opacity: 0;
        p {
          font-family: "Ranchers";
          font-style: normal;
          font-weight: 400;
          font-size: 39.5517px;
          line-height: 1;
          color: #fcc016;
          text-shadow: 0px 0px 6px #fcc016;
          text-align: center;
          background: rgba(0, 0, 0, 0.7);
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          width: 87%;
          transform: translate(-50%, -100%);
          padding: 5px 0;
        }
      }
      &:hover {
        .nft-claim-reward {
          opacity: 1;
        }
      }
    }
  }

  .loadmore-btn {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    button {
      font-family: "Ranchers";
      font-style: normal;
      font-weight: 400;
      font-size: 34.3492px;
      line-height: 1;
      color: #ffffff;
      border: none;
      padding: 15px 0;
      background: #740bf9;
      width: 222px;
      border-left: 12px solid #fcc016;
    }
  }
}

@media screen and (max-width: 1400px) {
  .nft-tier {
    .nftStaking-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media screen and (max-width: 1000px) {
  .nft-tier {
    .nftStaking-cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 600px) {
  .nft-tier {
    .nftStaking-cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;
      row-gap: 40px;
    }
  }
}

@media screen and (max-width: 600px) {
  .nft-tier {
    .section-header {
      margin: 55px auto;
      position: relative;

      width: fit-content;
    }
    .staking-tab-detail1 {
      margin-top: 55px;
      padding-bottom: 55px;
      P {
        font-size: 17px;
      }
    }

    .tier-tabContent {
      font-size: 17px;
      padding-top: 55px;
      padding-bottom: 55px;
    }
  }

  .loadmore-btn {
    margin-top: 55px;

    button {
      font-size: 28px;
    }
  }
}

// ------------- Token Tier

.tokenTier {
  .section-header {
    margin: 90px auto;
    position: relative;

    width: fit-content;
    h1 {
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 700;
      font-size: 22.1489px;
      text-transform: uppercase;
      color: #121f41;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .staking-tab-detail1 {
    // margin-top: 74px;
    padding-bottom: 90px;
    p {
      font-family: "Quicksand";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      text-align: center;
      color: #ffffff;
    }
  }

  .tier-parentTab {
    border: none;
    display: flex;
    justify-content: center;
    .nav-item {
      position: relative;
      :hover {
        border: none !important;
      }
      p {
        font-family: "Ranchers";
        font-style: normal;
        font-weight: 400;
        font-size: 39.5517px;
        text-align: center;
        color: #ffffff;
        border-radius: 15px;
        line-height: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: capitalize;
        user-select: none;
        cursor: pointer;
      }
      .nav-link {
        border: none !important;
        &.active {
          background-color: transparent;
          border: none;

          .tierback {
            transition: all 0.3s linear;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .tier-tabContent {
    font-family: "Anton";
    font-style: normal;
    font-weight: 500;
    font-size: 22.1489px;
    text-align: center;
    color: #ffffff;
    padding-top: 90px;
    padding-bottom: 0px;
    letter-spacing: 1px;
  }

  .tierBackRotate {
    transition: all 0.3s linear;
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 600px) {
  .tokenTier {
    .section-header {
      margin: 55px auto;
      position: relative;

      width: fit-content;
    }
    .staking-tab-detail1 {
      margin-top: 55px;
      padding-bottom: 55px;
      P {
        font-size: 17px;
      }
    }

    .tier-tabContent {
      font-size: 17px;
      padding-top: 55px;
      padding-bottom: 0px;
    }
  }
}
.nft-staking-banner .stakingBanner-content .tag-line {
 
  flex-direction: column;
}



.nft-staking-banner {
  overflow-x: hidden;
  position: relative;
  .stakingBanner-content {
    .tag-line {
      padding: 169px 250px;
      position: relative;
      z-index: 2;
      h1 {
        font-family: "Anton";
        font-style: normal;
        font-weight: 400;
        font-size: 307px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        span {
          color: #fcc016;
        }
      }

      h2 {
        font-family: "Anton";
        font-style: normal;
        font-weight: 400;
        font-size: 92.2533px;
        text-transform: uppercase;
        color: #ffffff;
        background: #f13a72;
        border-radius: 4px;
        text-align: end;
        width: fit-content;
        padding: 6px 49px;
        margin: 0px 0px 0px auto;
      }
    }
  }
  .stakingNft {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
    video {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 1900px) {
  .nft-staking-banner {
    overflow-x: hidden;
    position: relative;
    .stakingBanner-content {
      display: flex;
      justify-content: center;
      .tag-line {
        padding: 169px 100px;
        width: fit-content;
        justify-content: center;
        display: flex;
        h1 {
          font-size: 270px;
        }
        h2 {
          font-size: 82.2533px;
          padding: 6px 49px;
        }
      }
    }
  }
}

@media screen and (max-width: 1426px) {
  .nft-staking-banner {
    overflow-x: hidden;
    position: relative;
    .stakingBanner-content {
      .tag-line {
        padding: 169px 90px;
        h1 {
          font-size: 268px;
        }
        h2 {
          font-size: 82.2533px;
          padding: 6px 49px;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .nft-staking-banner {
    overflow-x: hidden;
    position: relative;
    .stakingBanner-content {
      .tag-line {
        padding: 169px 80px;
        h1 {
          font-size: 248px;
        }
        h2 {
          font-size: 72px;
          padding: 6px 49px;
        }
      }
    }
  }
}

@media screen and (max-width: 1286px) {
  .nft-staking-banner {
    overflow-x: hidden;
    position: relative;
    .stakingBanner-content {
      .tag-line {
        padding: 169px 65px;
        h1 {
          font-size: 230px;
        }
        h2 {
          font-size: 72px;
          padding: 6px 49px;
        }
      }
    }
  }
}

@media screen and (max-width: 1180px) {
  .nft-staking-banner {
    overflow-x: hidden;
    position: relative;
    .stakingBanner-content {
      .tag-line {
        padding: 169px 65px;
        h1 {
          font-size: 200px;
        }
        h2 {
          font-size: 62px;
          padding: 6px 49px;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .nft-staking-banner {
    overflow-x: hidden;
    position: relative;
    .stakingBanner-content {
      .tag-line {
        padding: 169px 65px;
        h1 {
          font-size: 180px;
        }
        h2 {
          font-size: 62px;
          padding: 6px 29px;
          margin-right: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .nft-staking-banner {
    overflow-x: hidden;
    position: relative;
    background-image: url("../../assets/images/fire.png") !important;
    background-size: cover;
    .stakingBanner-content {
      .tag-line {
        padding: 169px 5px;
        h1 {
          font-size: 80px;
        }
        h2 {
          font-size: 42px;
          padding: 6px 19px;
          margin-right: 0px;
        }
      }
    }

    .stakingNft {
      display: none;
    }
  }
}

@media screen and (max-width: 375px) {
  .nft-staking-banner {
    overflow-x: hidden;
    position: relative;
    .stakingBanner-content {
      .tag-line {
        padding: 169px 5px;
        h1 {
          font-size: 70px;
        }
        h2 {
          font-size: 36px;
          padding: 6px 19px;
          margin-right: 0px;
        }
      }
    }
  }
}

// ---------------------Token Staking------------------------------

.token-staking-banner {
  overflow-x: hidden;
  position: relative;
  background-color: #000;
  .stakingBanner-content {
    .tag-line {
      padding: 169px 0px;
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: center;
      h1 {
        font-family: "Anton";
        font-style: normal;
        font-weight: 400;
        font-size: 307px;
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        // background-color: red;
        width: fit-content;
        span {
          color: #fcc016;
        }
      }

      h2 {
        font-family: "Anton";
        font-style: normal;
        font-weight: 400;
        font-size: 92.2533px;
        text-transform: uppercase;
        color: #ffffff;
        background: #f13a72;
        border-radius: 4px;
        text-align: end;
        width: fit-content;
        padding: 6px 49px;
        margin: 0px 0px 0px auto;
      }
    }
  }
  .stakingNft {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
  }
}

@media screen and (max-width: 1750px) {
  .token-staking-banner {
    .stakingBanner-content {
      .tag-line {
        padding: 169px 0px;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        h1 {
          font-size: 287px !important;
        }

        h2 {
          font-size: 82px !important;
          padding: 6px 49px;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .token-staking-banner {
    .stakingBanner-content {
      .tag-line {
        padding: 169px 0px;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        h1 {
          font-size: 267px !important;
        }

        h2 {
          font-size: 72px !important;
          padding: 6px 49px;
        }
      }
    }
  }
}
@media screen and (max-width: 1500px) {
  .token-staking-banner {
    .stakingBanner-content {
      .tag-line {
        padding: 169px 0px;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        h1 {
          font-size: 245px !important;
        }

        h2 {
          font-size: 65px !important;
          padding: 6px 39px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .token-staking-banner {
    .stakingBanner-content {
      .tag-line {
        padding: 169px 0px;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        h1 {
          font-size: 230px !important;
        }

        h2 {
          font-size: 60px !important;
          padding: 6px 30px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .token-staking-banner {
    .stakingBanner-content {
      .tag-line {
        padding: 169px 0px;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        h1 {
          font-size: 210px !important;
        }

        h2 {
          font-size: 55px !important;
          padding: 6px 30px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .token-staking-banner {
    .stakingBanner-content {
      .tag-line {
        padding: 169px 0px;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        h1 {
          font-size: 180px !important;
        }

        h2 {
          font-size: 55px !important;
          padding: 6px 30px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .token-staking-banner {
    background-image: url("../../assets/images/fire.png") !important;
    background-size: cover;
    .stakingNft {
      display: none !important;
      // z-index: -10;
    }
    .stakingBanner-content {
      .tag-line {
        padding: 169px 0px;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        h1 {
          font-size: 60px !important;
        }

        h2 {
          font-size: 35px !important;
          padding: 6px 30px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .token-staking-banner {
    .stakingBanner-content {
      .tag-line {
        padding: 169px 0px;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        h1 {
          font-size: 50px !important;
        }

        h2 {
          font-size: 35px !important;
          padding: 6px 30px !important;
        }
      }
    }
  }
}
