* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  background-color: rgb(211, 195, 195);
  height: 200vh;
}

.landing {
  background-image: url("./assets/images/background.png");
  background-size: cover;
}

body {
  background-color: black;
}

.loadmore-btn {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.loadmore-btn button {
  font-family: "Ranchers";
  font-style: normal;
  font-weight: 400;
  font-size: 34.3492px;
  line-height: 1;
  color: #ffffff;
  border: none;
  padding: 15px 0;
  background: #740bf9;
  width: 222px;
  border-left: 12px solid #fcc016;
}

/* -------------------Modal Content--------------- */
.section-header {
  margin: 90px auto;
  position: relative;

  width: fit-content;
}

.section-header h1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 22.1489px;
  text-transform: uppercase;
  color: #121f41;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.danger{
      letter-spacing: 0.6px;
  font-family: "Anton";
    background-color: #0c0a1f;
        border-left: 6px solid #fcc016;
        color: white;
            padding-left: 0.5rem;
}
.customCountDownClass{
  font-family: "Ranchers";
  text-shadow: 0.5px 0.5px #ffffff;
    box-shadow: white;
    color: #F9CD37;
}
.customFont{
    font-family: "Anton" !important;
}
.customStakeBtn{
      width: 50%;
        background: linear-gradient(90deg, #f3c221 0%, #fcda6c 100%);
        border-radius: 5px;
        border: none;
        font-family: "Ranchers";
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        color: #ffffff;
        text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        text-transform: capitalize;
}

.customSelect {
  outline: none;
  border: 1px solid #fff;
  background-color: #1d171d;
  border: 2px solid #525252;
  border-radius: 3px;
  padding: 3px 10px;
  width: 300px;
  color: white;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 18.5233px;
  width: 90%;
}

.select-stakingTier {
  padding-left: 10px;
  padding-top: 17px;
  display: flex;
  gap: 16px;

}

.creator-details .left .creator-avatar img.img-fluid.logo-in-card{
  width: 50px;
}
.stakingDetail-card .left-side .nftStaking-cards .staking-card .card-plate .card-gold-plate .creator-details .left .creator-tag {

  justify-content: space-evenly !important;


}
.already-staked{
  color: white;
  text-align: center;
}
.nft-tier .nftStaking-cards .staking-card .card-plate .card-gold-plate .creator-details .left .stake-card.already-staked { 
  background: linear-gradient(90deg, #ffd84b 0%, #463c15 100%) !important;
  letter-spacing: 1.5px;
}
section.total-token.unstake {
  padding: 0px !important;
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #fcc016;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-wrao {  
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;

}


.loader-wrao.mob {
  /* width: 130px; */
  /* height: 30px; */
  width: 100%;
}
.loader-wrao.mob  .loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #fcc016;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  text-align: center;
}